#!/bin/bash
# this may be needed for cron.d.
PATH=$PATH:/sbin:/usr/sbin
ansible_pull_checkout={{ ansible_pull_checkout }}
ansible_pull_checkout_dir={{ ansible_pull_checkout_dir }}
ansible_pull_opts="{{ ansible_pull_opts }}"
ansible_pull_inventory_location={{ ansible_pull_inventory_location }}
ansible_pull_repo={{ ansible_pull_repo }}
ansible_pull_log={{ ansible_pull_log }}
ansible_install_dir={{ ansible_install_dir }}
ansible_pull_run_from_checkout="{{ ansible_pull_run_from_checkout }}"
ansible_pull_playbook={{ ansible_pull_playbook }}
# The env-setup script requires bash.
if [ -n "$ansible_pull_run_from_checkout" ]; then
. $ansible_install_dir/hacking/env-setup > /dev/null 2>&1
fi

{% for repo in ansible_pull_repos_to_update %}
git -C {{ repo }} pull >> $ansible_pull_log 2>&1
{% endfor %}

$ansible_install_dir/bin/ansible-pull $ansible_pull_opts -C $ansible_pull_checkout -d $ansible_pull_checkout_dir \
 -i $ansible_pull_inventory_location -U $ansible_pull_repo $ansible_pull_playbook >> $ansible_pull_log 2>&1
